// 
// general.scss
//

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
  // background-image:url('../images/background.jpg');
  background-color:#0c1c2d;
  // background-color:#183d5d;

}
